{% extends 'enter.html' %}
{% block title %} My_Guard | Enter-Records {% endblock %}
{% block content %}
    <div class="container mx-5 my-5">
        <h1><i class="fas fa-folder-open"></i> Records</h1>
        <p class="lead"><img src="/metrics/mongodb.png" class="logo mb-2">MongoDB Atlas | Total records: <b> {{ results.count() }}</b></p>
        <div class="card bg-light">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">🆔 ID</th>
                    <th scope="col">📃 Name</th>
                    <th scope="col">🌡️ Temperature</th>
                    <th scope="col"><i class="far fa-clock"></i> Timestamp</th>
                    <th scope="col"><i class="fas fa-arrow-circle-up"></i> In | <i class="fas fa-arrow-circle-down"></i> Out</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% if results %}
                    {% for record in results %}
                        <tr>
                            <th scope="row"> {{ loop.index }} </th>
                            <td> {{ record["_id"] }} </td>
                            <td> {{ record["name"] }} </td>
                            <td> {{ record["temperature"] }} </td>
                            <td> {{ record["timestamp"] }} </td>
                            <td> <span class="badge badge-warning">{{ record["type"] }}</span> </td>
                            <td> {{ record["status"] }} </td>
                        </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
        </div>
    </div>
    
{% endblock %}